.content {
    width: 75%;
    margin: auto;
}

.code {
    white-space: pre;
    padding: 10px;
    margin: 20px;
    font-family: monospace;
    font-size: 14px;
    background-color: antiquewhite;
}
