<div class="section wrapper row1">
	<header id="header" class="clear">
	<div id="hgroup">
		<h1><a href="index.html">The WebMaster's Tutorial</a></h1>
	</div>
	<nav>
		<ul>
      <li class="last"><a href="HTMLtutorial.html" class="link">HTML</a></li>
      <li><a href="CSStutorial.html" class="link">CSS</a></li>
      <li><a href="JStutorial.html" class="link">JavaScript</a></li>
			<li><a href="rubyTutorial.html" class="link">Ruby</a></li>
		</ul>
	</nav>
	<div class="clear"></div>
	</header>
	</div>