<nav>
      <ul>
        <li><a href="HTMLtutorial.html" class="link">HTML Tutorial</a></li>
        <li><a href="CSStutorial.html" class="link">CSS Tutorial</a></li>
        <li><a href="JStutorial.html" class="link">JavaScript Tutorial</a></li>
        <li><a href="RubyTutorial.html" class="link">Ruby Tutorial</a></li>
      </ul>
    </nav>