---
title: Main Page
---

<div>
  <div class="section">
      <h1>Welcome to our website!</h1><br />
      <p>
        The WebMasters present to you our tutorials for Ruby, JavaScript, and HTML/CSS. These tutorials assume the reader is a student who has completed Software II at OSU (CSE 2231, aka CSE 321), but has not yet taken CSE 3901. To get started, click on the following links from the header!
      </p>
  </div>
  <div id="logos" class="section">
    <img src="images/HTML5-CSS3.jpg">
    <img id="javascript" src="images/Javascript.png">
    <img id="ruby" src="images/ruby-logo.png">
  </div>
  <div class="section">
    <h2>Here are some additional resources for these topics!</h2>
    <ul><br />
      <li><a href="http://www.w3schools.com/html/html_css.asp" class="link">w3schools HTML/CSS Tutorial</a></li><br />
      <li><a href="http://www.w3schools.com/js/default.asp" class="link">w3school's JavaScript Tutorial</a></li><br />
      <li><a href="https://www.ruby-lang.org/en/documentation/quickstart/" class="link">Ruby in Twenty Minutes</a></li><br />
      <li><a href="http://www.tutorialspoint.com/ruby/" class="link">tutorialspoint Ruby Tutorial</a></li><br />
      <li><a href="http://www.codecademy.com/tracks/javascript" class="link">CodeAcademy's JavaScript Tutorial</a></li><br />
      <li><a href="http://learn.shayhowe.com/html-css/building-your-first-web-page/" class="link">shayhowe's Tutorial to Building Your FIrst Web Page</a></li>
    </ul>
  </div>
</div>